certifi
chardet
Click
scikit-build
cmake
dlib
face-recognition
face-recognition-models
Flask
itsdangerous
Jinja2
jsonpickle
MarkupSafe
numpy
opencv-python
Pillow
PyJWT
PySocks
pytz
requests
simplejson
six
twilio
urllib3
Werkzeug
